.password-strength {
  width: 100%;
  padding: 2% 5%;

  h1, p {
    text-align: center;
  }


}

.error {
  color: #c83b3b;
  font-size: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;

  .input {
    margin-top: 1rem;
    justify-content: center;
    flex: 4;

    input {
      width: 80%;
      height: 2rem;
      text-align: center;
    }

  }

  .checkbox {

    margin-top: 2rem;
    justify-content: center;
    align-items: center;

    input {
      width: 1rem;
      margin-left: 1rem;
    }
  }
}
