.password-status {
    text-align: center;
    padding: 1rem 5%;

    .span {
        margin: 1rem;
        padding: .5rem;
        font-size: 2rem;
        font-weight: lighter;
        color: #565656;
    }
}
